@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.logo_sign {
    line-height: 94px;
    margin: 63px 0px 40px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 80px;
}

.logo_sign_link {
    color: black;
}

.logo_sign_part1 {
    color: #4BCAFF;
}

.menu {
    background-color: #35444F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
}

.menu li {
    padding: 24px 40px 18px 40px;
    display: flex;
    align-items: center;
    border-right: 1px solid #FFFFFF;
    box-sizing: content-box;
}

.menu li:hover {
    background-color: #222F3A;
}

.menu_item_first {
    border-left: 1px solid #FFFFFF;
}

.menu li a {
    color: #FFFFFF;
}

.container_main {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.left_menu {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}

.left_menu_list li {
    width: 342px;
    height: 81px;
    padding-left: 44px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 27px;

}

.left_menu_list li a {
    color: #485863;
}

.left_menu_list li:hover {
    background-color: #DBDBDB;
}

.left_menu_list li a:hover {
    margin-left: 30px;
    transition: all 0.3s;
    color:#000000;
}

.content {
    margin-left: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.holder_photo {
    width: 100%;
    padding: 73px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
}

.photo {
    width: 320px;
    height: 381px;
}

.photo:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
}

.text p {
    margin-top: 37px;
    line-height: 24px;
}

.container_footer {
    background-color: rgba(99, 105, 110, 0.48);
    margin: 54px 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom_menu {
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
}

.bottom_menu li a {
    font-family: Roboto;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.bottom_menu li a:after {
    background-color: #3181A6;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    transition: width .3s ease-in-out;
}

.bottom_menu li a:hover:after,
.bottom_menu li a:hover:after {
    width: 100%;
}

.bottom_menu li a:hover {
    color: #3181A6;
}

.bottom_sign {
    margin-right: 40px;
    line-height: 24px;
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    color: #010101;
}